@{
    ViewBag.Title = "Pagina principale";
}

<h2>@ViewBag.Message</h2>
<p>
    Hello world! / Ciao mondo! <br /><br />
    Questo è il sito della Kaiti Expanion: <a href="http://www.kaiti.it/" title="Link al sito Kaiti Expansion">http://www.kaiti.it/</a>.
</p>
